.md-typeset__table {
    min-width: 100%;
}

@media only screen and (min-width: 768px)
{
	td:nth-child(1){
		white-space: nowrap;
	}
}

/*
https://material.io/design/color/the-color-system.html#tools-for-picking-colors
*/
:root {
  --md-primary-fg-color:        #172a45;
  --md-primary-fg-color--light: #60f6d3;
  --md-primary-fg-color--dark:  #0a192f;
}

:root>* {
    --md-typeset-color:   var(--md-default-fg-color);
    --md-typeset-a-color: #009688;
}

/*
markdown and image alignment
ALT tag and a CSS selector on the alt tag
*/
img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}